<div class="app">
    <nav class="top">
          <a href="#" routerLink="/koszyk-page" >
      <img src="assets/svg/shopSvg.svg" class="cart">
          </a>
    </nav>

  <img src="../assets/Bobi-Shop.png" alt="Logo" class="logo">
    <div>
      <nav class="navi">
        <a
          *ngFor="let item of nav"
          [routerLink]="item.link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: item.exact}">
          {{item.name}}
        </a>
      </nav>
    </div>
</div>
<router-outlet></router-outlet>




